<div class="max-w-full mx-auto px-10 py-10">
  <div class="flex flex-col items-center mb-16 text-center">
    <div class="mb-8">
      <h2 class="text-4xl font-['Anton'] uppercase tracking-tighter text-black leading-none">
        Popular <span class="text-red-600">Now</span>
      </h2>
      <p class="text-gray-400 font-bold uppercase tracking-[0.3em] text-[10px] mt-4">
        Here are the most popular movies right now
      </p>
    </div>
  </div>
  <div class="flex overflow-x-auto gap-4  snap-x snap-mandatory -my-25 py-10 px-10 pb-8">
    <% if @movies.present? %>
      <% @movies.each do |movie| %>
        <div class="flex-none w-[220px] snap-start">
          <div class="group bg-black rounded-4xl overflow-hidden shadow-xl transition-all hover:scale-95 duration-300">
            
            <div class="aspect-2/3 relative bg-gray-900">
              <% if movie['poster_path'] %>
                <img src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" 
                     class="w-full h-full object-cover object-center" 
                     alt="<%= movie['title'] || movie['name'] %>">
              <% end %>
              
              <div class="absolute top-3 left-3 bg-black/50 backdrop-blur-md px-2 py-1 rounded-lg">
                <span class="text-white text-[10px] font-black">★ <%= movie['vote_average']&.round(1) %></span>
              </div>
            </div>

            <div class="p-4 bg-black">
              <h3 class="text-white font-black text-sm uppercase tracking-tight truncate mb-1">
                <%= movie['title'] || movie['name'] %>
              </h3>
              
              <div class="flex justify-between items-center">
                <span class="text-[10px] text-gray-500 font-bold tracking-widest uppercase">
                  <%= (movie['release_date'] || movie['first_air_date'])&.split('-')&.first %>
                </span>
                
                <span class="text-[9px] text-red-600 font-black uppercase tracking-tighter">
                  <%= movie['media_type'] || 'Movie' %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-gray-500 uppercase font-black text-xs tracking-widest w-full text-center">No trending content found</p>
    <% end %>
  </div>
</div>