<header class="bg-black text-white">
  <div class="max-w-7xl mx-auto px-6 py-4 space-y-4">
    <div class="grid grid-cols-3 items-center">
      <div></div>

      <div class="flex justify-center">
        <%= link_to "CINERATE",
            root_path,
            class: "text-6xl md:text-7xl lg:text-7xl
                    font-['Anton'] uppercase tracking-wide
                    hover:text-red-300 transition" %>
      </div>

      <div class="flex justify-end items-center gap-4">
        <% if user_signed_in? %>
          <span class="hidden md:inline text-xs font-medium text-gray-400">
            <%= current_user.email %>
          </span>

          <%= link_to destroy_user_session_path,
                      data: { turbo_method: :delete },
                      class: "group relative inline-flex items-center justify-center p-0.5
                              overflow-hidden text-xs font-medium rounded-xl
                              bg-gradient-to-br from-red-100 to-red-200" do %>
            <span class="relative px-4 py-2 rounded-xl bg-white text-gray-900 transition group-hover:bg-transparent">
              Log out
            </span>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path,
                      class: "group relative inline-flex items-center justify-center p-0.5
                              overflow-hidden text-xs font-medium rounded-xl
                              bg-gradient-to-br from-red-100 to-red-200" do %>
            <span class="relative px-5 py-2 rounded-xl bg-white text-gray-900 transition group-hover:bg-transparent">
              Get started
            </span>
          <% end %>
        <% end %>
      </div>

    </div>
    
    <nav class="flex flex-wrap justify-center gap-x-8 gap-y-2 text-[11px] font-bold tracking-[0.2em]">
      <%= link_to "ALL MEDIA", media_path, class: "nav-link-animated text-white hover:text-white transition whitespace-nowrap uppercase" %>
      <%= link_to "TRENDING", trending_path, class: "nav-link-animated text-white hover:text-white transition whitespace-nowrap uppercase" %>
      <%= link_to "TOP 10", "#", class: "nav-link-animated text-white hover:text-white transition whitespace-nowrap uppercase" %>
      <%= link_to "ABOUT", about_path, class: "nav-link-animated text-white hover:text-white transition whitespace-nowrap uppercase" %>
    </nav>
  </div>
</header>

<div class="relative w-full overflow-hidden leading-0 bg-transparent">
  <svg 
    viewBox="0 0 390 20" 
    xmlns="http://www.w3.org/2000/svg" 
    class="relative block w-full h-5 md:h-10 text-black fill-current"
    preserveAspectRatio="none"
  >
    <path d="M0 0 C 100 20, 290 20, 390 0 L 390 0 L 0 0 Z"></path>
  </svg>
</div>