<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CineRate" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cine Rate">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col">
    <div class="fixed inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(135%_135%_at_50%_0%,#fff_30%,#fecaca_65%,#f87171_100%)]"></div>   

    <%= render "shared/header" %>

    <div class="fixed bottom-8 right-6 z-100 flex flex-col gap-3 pointer-events-none max-w-[350px] w-full">
      <% if notice %>
        <div class="flash-message pointer-events-auto bg-white/90 backdrop-blur-xl text-black px-6 py-4 rounded-2xl shadow-2xl border border-white/10 flex items-center gap-3 animate-in fade-in slide-in-from-right-5 duration-300">
          <div class="w-2 h-2 rounded-full bg-green-400 shrink-0 shadow-[0_0_8px_rgba(74,222,128,0.6)]"></div>
          <span class="text-xs font-bold uppercase tracking-widest"><%= notice %></span>
        </div>
      <% end %>

      <% if alert %>
        <div class="flash-message pointer-events-auto bg-white/90 backdrop-blur-xl text-red-600 px-6 py-4 rounded-2xl shadow-2xl border border-red-100 flex items-center gap-3 animate-in fade-in slide-in-from-right-5 duration-300">
          <div class="w-2 h-2 rounded-full bg-red-500 shrink-0 shadow-[0_0_8px_rgba(239,68,68,0.6)]"></div>
          <span class="text-xs font-bold uppercase tracking-widest"><%= alert %></span>
        </div>
      <% end %>
    </div>

    <main class="flex-1"> 
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>

